trigger:
  - master

pool:
  name: 'Default'

stages:
  - stage: Terraform
    jobs:
      - job: TerraformDeploy
        steps:
          - task: AzureCLI@2
            displayName: 'Terraform Init'
            inputs:
              azureSubscription: 'Sudhi'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd terraform
                terraform init

          - task: AzureCLI@2
            displayName: 'Terraform Plan'
            inputs:
              azureSubscription: 'Sudhi'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd terraform
                terraform plan -out=tfplan

          - task: AzureCLI@2
            displayName: 'Terraform Apply'
            inputs:
              azureSubscription: 'Sudhi'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                cd terraform
                terraform apply -auto-approve tfplan

          - script: |
              cd terraform
              terraform output -json > terraform-output.json
            displayName: 'Generate Terraform Output JSON'

          - publish: terraform/terraform-output.json
            artifact: terraform-output
            displayName: 'Publish Terraform Output'

  - stage: Ansible
    dependsOn: Terraform
    jobs:
      - job: AnsibleConfig
        steps:
          - script: |
              python3 -m pip install --user ansible
            displayName: 'Install Ansible'

          - script: |
              ansible-playbook -i ansible/inventory ansible/playbook.yml
            displayName: 'Run Ansible Playbook'
